* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f1f5f8;
    color: #333;
}

h1 {
    color: #6821c5;
}

.booklist {
    width: 90vw;
    max-width: 1170px;
    margin: 5em auto;
    display: grid;
    gap: 2rem;
}

.book {
    background: wheat;
    border-radius: 1rem;
    padding: 1rem 2rem;
}

@media screen and (min-width:768px) {
    .booklist {
        grid-template-columns: repeat(3, 1fr);
    }
}